// font familys 
$font-family_1: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
$font-family_2: Georgia, 'Times New Roman', Times, serif;
$font-family_3: Arial;
$font-family_4: 'PT Serif', serif;